@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');
body {
    margin: 0;
    padding: 0;
}

section.top {
    background-color: #34495e;
    color: white;
    font-family: 'Chelsea Market', cursive;
}

section.top h3 {
    letter-spacing: 3px;
    margin: 0;
    text-align: center;
}

section.top #timer div {
    color: rgba(255, 255, 255, 0.719);
}

section.top #timer div span {
    color: white);
}

section div#timer {
    padding: 5px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
}