// fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap');

// variables 
$headingFont : 'Original Surfer', cursive;
$normalFont : 'Roboto Condensed', sans-serif;
$primary_colour : #6270dd;

*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
a {
    text-decoration: none;
    color: #33a2fd;
}
@mixin flexbox($flexDirection:column,$justifyContent:center,$alignItems: center) {
    display: flex;
    flex-direction: $flexDirection;
    justify-content: $justifyContent;
    align-items: $alignItems;
}

html{
    &::before{
        content: "";
        overflow: hidden;
    }
}

body{
    align-items: stretch;   
    width: 100vw;
    height: 100vh;
    font-size: 1.2em;
    background-color: #f2f2f2;
    max-width: 900px;
    margin: auto;
}

.center {
    text-align: center;
}

@keyframes animate {
    0%{
        opacity: 0;
        top: -20%;
    }
    30%{
        opacity: 0.1;
        top: -10%;
    }
    60%{
        opacity: 0.4;
        top: -5%;
    }
    80%{
        opacity: 0.7;
        top: -2%;
    }
    80%{
        opacity: 0.85;
        top: -2%;
    }
    97%{
        top: 0.5%;
        opacity: 1;
    }
    100%{
        top: 0;
    }
}

.server_message{
    @extend .center;
    left: 50%;
    transform: translate(-50%,0%);
    border-radius: 5px;
    position: fixed;
    width: calc(100% - 20px);
    top: 0;
    padding: 0.75em;
    margin: 0.2em auto;
    font-size: 1.2em;
    box-shadow: 
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086);
    
    animation-name: animate;
    animation-duration: 0.5s;
    animation-timing-function :ease-in-out;
}

.alert{
    color: black;
    box-shadow: 2px 2px 2px rgba(0, 0, 0,0.1),2px 2px 6px rgba(0, 0, 0,0.2)  ;
    background: rgba(171, 250, 178, 0.5);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 19px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.error{
    box-shadow: 2px 2px 2px rgba(0, 0, 0,0.1),2px 2px 6px rgba(0, 0, 0,0.2)  ;
    background: rgba( 248, 83, 83, 0.5 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 19px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    &::before{
        content: "!! 😔 ";
        color: rgb(252, 252, 252);
    }
    &::after{
        content: " !!";
        color: rgb(255, 252, 252);
    }
}

.success{
    color: black;
    box-shadow: 2px 2px 2px rgba(0, 0, 0,0.1),2px 2px 6px rgba(0, 0, 0,0.2)  ;
    background: rgba(103, 188, 228, 0.3);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 19px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    &::before{
        content: "😎 ";
    }
}
