@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

a {
  text-decoration: none;
  color: #33a2fd;
}

html::before {
  content: "";
  overflow: hidden;
}

body {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100vw;
  height: 100vh;
  font-size: 1.2em;
  background-color: #f2f2f2;
  max-width: 900px;
  margin: auto;
}

.center, .server_message {
  text-align: center;
}

@-webkit-keyframes animate {
  0% {
    opacity: 0;
    top: -20%;
  }
  30% {
    opacity: 0.1;
    top: -10%;
  }
  60% {
    opacity: 0.4;
    top: -5%;
  }
  80% {
    opacity: 0.7;
    top: -2%;
  }
  80% {
    opacity: 0.85;
    top: -2%;
  }
  97% {
    top: 0.5%;
    opacity: 1;
  }
  100% {
    top: 0;
  }
}

@keyframes animate {
  0% {
    opacity: 0;
    top: -20%;
  }
  30% {
    opacity: 0.1;
    top: -10%;
  }
  60% {
    opacity: 0.4;
    top: -5%;
  }
  80% {
    opacity: 0.7;
    top: -2%;
  }
  80% {
    opacity: 0.85;
    top: -2%;
  }
  97% {
    top: 0.5%;
    opacity: 1;
  }
  100% {
    top: 0;
  }
}

.server_message {
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  border-radius: 5px;
  position: fixed;
  width: calc(100% - 20px);
  top: 0;
  padding: 0.75em;
  margin: 0.2em auto;
  font-size: 1.2em;
  -webkit-box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086);
          box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086);
  -webkit-animation-name: animate;
          animation-name: animate;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.alert {
  color: black;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1), 2px 2px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1), 2px 2px 6px rgba(0, 0, 0, 0.2);
  background: rgba(171, 250, 178, 0.5);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(19px);
          backdrop-filter: blur(19px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.error {
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1), 2px 2px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1), 2px 2px 6px rgba(0, 0, 0, 0.2);
  background: rgba(248, 83, 83, 0.5);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(19px);
          backdrop-filter: blur(19px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.error::before {
  content: "!! 😔 ";
  color: #fcfcfc;
}

.error::after {
  content: " !!";
  color: #fffcfc;
}

.success {
  color: black;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1), 2px 2px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1), 2px 2px 6px rgba(0, 0, 0, 0.2);
  background: rgba(103, 188, 228, 0.3);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(19px);
          backdrop-filter: blur(19px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.success::before {
  content: "😎 ";
}

input {
  background: inherit;
}

.heading {
  font-family: "Original Surfer", cursive;
  margin: 0.2em 0 1em 0.5em;
}

.container {
  font-family: "Roboto Condensed", sans-serif;
}

.container .formContainer {
  border-left: 8px solid #33a2fd;
  padding-left: 0.8em;
  padding-right: 0.8em;
  margin: 0.5em;
}

.container .formContainer form {
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1), 2px 2px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1), 2px 2px 6px rgba(0, 0, 0, 0.2);
  background-color: white;
  background: rgba(255, 255, 255, 0.35);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(19px);
          backdrop-filter: blur(19px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 1em;
}

.container .formContainer form .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 0.5em;
  margin-bottom: 0.7em;
}

.container .formContainer form .form-group label {
  font-size: 0.8em;
}

.container .formContainer form .form-group input {
  font-size: 1.1em;
  border: none;
  outline: none;
  border-bottom: 2px solid black;
  padding: 0.2em;
}

.container .formContainer form .checkbox {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2em;
  font-weight: 500;
}

.container .formContainer form .checkbox label, .container .formContainer form .checkbox input {
  margin: 0.1em 0.3em;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.container .formContainer form .submitdiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1.5em;
}

.container .formContainer form .submitdiv button {
  padding: 0.3em 0.7em;
  border-radius: 10px;
  background-color: #81e8f6;
  border: none;
  color: white;
  font-size: 1.1em;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1), 2px 2px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1), 2px 2px 6px rgba(0, 0, 0, 0.2);
}

.bubble_1 {
  position: fixed;
  overflow: hidden;
  width: 25em;
  height: 25em;
  bottom: 0;
  right: 0;
  z-index: -100;
}

.bubble_1::before {
  content: '';
  -webkit-transform: translate(50%, 10%);
          transform: translate(50%, 10%);
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background: radial-gradient(circle at 0% 200%, #81e8f66e, #76dfefaf 50%, #6270dd 90%);
}

.bubble_2 {
  position: fixed;
  overflow: hidden;
  width: 10em;
  height: 10em;
  top: 0%;
  left: 0;
  z-index: -100;
}

.bubble_2::before {
  content: '';
  -webkit-transform: translate(-20%, -10%);
          transform: translate(-20%, -10%);
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background: radial-gradient(circle at 100% 120%, #81e8f66e, #76dfefaf 50%, #6270dd 90%);
}

.error_user_Exist {
  border-bottom: 2px solid red !important;
}
/*# sourceMappingURL=signup.css.map */